.stats{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 100px;
    
    justify-content: space-evenly;
    align-items: center;
}
.box{
    display: flex;
    width: 100px;
    height: 80px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    background-color: var(--button-color);
}
.hud{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}