.stats{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border-color: azure;
    width: 400px;
    height: 100px;
    border-width: 2px;
    border-style: solid;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    display: flex;
    width: 100px;
    height: 80px;
    border-radius: 10px;
    border-color: aquamarine;
    border-style: solid;
    justify-content: center;
    align-items: center;
    text-align: center;

}