.win-modal {
    position: fixed;
    inset: 0;
    
    z-index: 9999;
    /* stays on top */
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(3px);
    display: grid;
    place-items: center;
    
}

.win-button{
    width: 200px;
    height: 40px;
    border-radius: 80px;
    border-width: 0px;
    background-color: var(--button-color);
   
}
.win-button:hover{
    background-color: var(--card-color);
}



.win-text{
    display: flex;
    width: 300px;
    height: 200px;
    background-color: var(--background-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    animation: jump 1s cubic-bezier(.28,.84,.42,1) infinite;
    will-change: transform;
}

.win-text:hover{
    animation: none;
}

@keyframes jump {
  0%   { transform: translateY(0); }
  20%  { transform: translateY(0); }       /* brief pause before jump */
  40%  { transform: translateY(-18px); }   /* peak */
  60%  { transform: translateY(0); }       /* land */
  75%  { transform: translateY(-6px); }    /* tiny rebound */
  90%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}
h1{
    font-size: 40px;
    /* font-family: 'Rubik Mono One'; */
}